// Add your own CSS here!

:root {
  --light: rgba(188, 183, 158, 0.95);
  --dark: #141021;
  --secondary: rgba(80, 80, 80, 1);
  --tertiary: rgba(119, 137, 120, 1);
  --visited: rgba(78, 78, 78, 0.2);
  --primary: rgba(119, 137, 120, 1);
  --gray: rgba(78, 78, 78, 0.7);
  --lightgray: #f0f0f0;
  --outlinegray: rgba(78, 78, 78, 0.2);
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: rgba(188, 183, 158, 0.95);
  --dark: #141021;
  --secondary: rgba(80, 80, 80, 1);
  --tertiary: rgba(119, 137, 120, 1);
  --visited: rgba(78, 78, 78, 0.2);
  --primary: #84a59d;
  --gray: rgba(78, 78, 78, 0.7);
  --lightgray: #f0f0f0;
  --outlinegray: rgba(78, 78, 78, 0.2);
}



